<main class="mt-5 pt-4">
		 <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      		<div class="row wow fadeIn">
                    <div class="form-group">
                        <label for="disabledInput" class="col-sm-2 control-label">제목</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="disabledInput" type="text" disabled>
                        </div>
                    </div>
            </div>
        </div>
</main>