<script src="../../static/js/sha256.js"></script>
<script src="../../static/js/validpw.js"></script>
<style>
    #modal {display:none;background-color:#FFFFFF;position:absolute;top:300px;left:200px;padding:10px;border:2px solid #E2E2E2;z-Index:9999}
</style>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">회원정보</a>
    </li>
    <li class="breadcrumb-item active">비밀번호</li>
</ol>
<ul class="breadcrumb">
    <li>
        <div class="form-group">
            <label for="password">비밀번호 입력해주세요</label>
            <input type="password" class="form-control" id="password" name="password" >
        </div>
    </li>
    <li>
        <div>
        <a href="#" onclick="return false;" class="btn btn-primary" style="margin-left: 10px; margin-top:32px;">버튼</a>
        </div>
    </li>

</ul>
