<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Safe Market</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="../../shopTemplate/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="../../shopTemplate/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="../../shopTemplate/css/style.min.css" rel="stylesheet">
  <style type="text/css">
    html,
    body,
    header,
    .carousel {
      height: 60vh;
    }

    @media (max-width: 740px) {
      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }
  </style>
  <script type="text/javascript" src="../../shopTemplate/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../../shopTemplate/js/popper.min.js"></script>
  <script type="text/javascript" src="../../shopTemplate/js/bootstrap.min.js"></script>
  <!-- Bootstrap core JavaScript -->

  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../../shopTemplate/js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>
</head>

<body>

  <!-- Navbar -->
  {{> shopNavbar}}
  <!-- Navbar -->
  
  <!-- Navbar -->

  <!--Carousel Wrapper-->
  
  <!--/.Carousel Wrapper-->

  <!--Main layout-->
  {{{body}}}
  <!--Main layout-->

  <!--Footer-->
 {{> shopFooter}}
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  
  
</body>

</html>