<!-- Breadcrumbs-->
<link async href="http://fonts.googleapis.com/css?family=Antic" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/adminTemplate/css/btn.css" type="text/css">
<link rel="stylesheet" href="../../static/css/myPage/regist.css">
<script src="/js/ckeditor/ckeditor.js" type="text/javascript"></script>
<ol class="breadcrumb" style="margin-top:100px;">
    <li class="breadcrumb-item">
        <a href="#">ITEM</a>
    </li>
    <li class="breadcrumb-item active">상품 등록</li>
</ol>
<script type="text/javascript">
    window.onload=function(){
        CKEDITOR.replace('info');
    }
    $('.selectpicker').selectpicker({
        style: 'btn-info',
        size: 4
    });
</script>
<nav>
    <h1>상품 등록</h1>
    <hr>
    <form data-role="form" enctype="multipart/form-data" action="/myPage/item/regist" method="POST">
        <ul class="ul-style-none">
            <li>
                <div class="md-form input-group input-group-lg mt-0 mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg1">상품명</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-lg1" name="itemName">
                </div>
            </li><br><br>
            <li>
                <div class="md-form input-group input-group-lg mt-0 mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg1">상품가격</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-lg1" name="itemPrice">
                </div>
            </li><br><br>  
            <li>
                 <div class="md-form input-group input-group-lg mt-0 mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg1">상품 사진</span>
                    </div>
                    <input type="file" name="image" id="pic" value="사진 업로드">
                </div>
            </li><br>
            <li><label for="transactionMode" class="registItem" style="margin-right:25px"><h5>거래 방식</h5></label>
                <label>
                    <input type="radio" class="transactionMode" name="transactionMode" value="1" > <span class="label-text transactionMode">직거래</span>
                </label>
                <label>
                    <input type="radio" class="transactionMode" name="transactionMode" value="2" > <span class="label-text transactionMode">택배 배송</span>
                </label>
                <label>
                    <input type="radio" class="transactionMode" name="transactionMode" value="3" > <span class="label-text transactionMode">직거래 및 택배배송</span>
                </label>
            </li>
            <li>
                <label for="transactionPosition" class="registItem" style="margin-right:25px"><h5 class="transactionPosition">선호 배송 지역</h5>
                <input type="text" name="transactionPosition" class="transactionPosition">
            </li><br>
            <li class="deliveryFee"><label for="deliveryFee" class="registItem" style="margin-right:25px"><h5 class="deliveryFee">배송방식</h5></label>
                <label>
                    <input type="radio" class="deliveryFee" name="deliveryFee" value="1" > <span class="label-text">배송비 포함</span>
                </label>
                <label>
                    <input type="radio" class="deliveryFee" name="deliveryFee" value="2" > <span class="label-text">착불</span>
                </label>
            </li><br>

            <li><label for="category" class="registItem"><h5>카테고리</h5></label>
                <select class="selectpicker form-control form-control-lg" name="itemCategory">
                    <option value="cloth">의류</option>
                    <option value="sports">스포츠 및 레저</option>
                    <option value="electronics">전자 제품</option>
                    <option value="mobile">핸드폰</option>
                    <option value="car">차량 및 오토바이</option>
                    <option value="others">다중 잡화</option>
                </select>
            </li><br>
            <li><label for="info" class="registItem"><h5>상품 설명</h5></label><br><br>
                <textarea name="itemInfo" id="info" class="ckeditor" cols="30" rows="10" placeholder="상품 설명을 해주세요."></textarea>
            </li><br>
            <input type="submit" value="전송" class="btn btn-primary">
        </ul>
    </form>
    <!-- Blank div to give the page height to preview the fixed vs. static navbar-->
    <div style="height: 1000px;"></div>
</nav>

<script>
    $(document).ready(function(){
        $('.transactionPosition').css('display','none');
        $('.deliveryFee').css('display','none');

        $('span.transactionMode.label-text').click(function(){
            var transactionMode = $(this).siblings('input[type="radio"]').val();
            if(transactionMode == '1' ){            //직거래
                $('.transactionPosition').css('display','block');
                $('.deliveryFee').css('display','none');
            }else if(transactionMode =='2'){        //배송 거래
                $('.transactionPosition').css('display','none');
                $('.deliveryFee').css('display','block');
                
            }else if(transactionMode == '3'){       //직거래 및 배송거래
                $('.transactionPosition').css('display','block');
                $('.deliveryFee').css('display','block');
            }            
        });


    });
</script>