 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
 <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">
        <strong class="blue-text">BC2018</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">의류</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="https://mdbootstrap.com/getting-started/" target="_blank">스포츠 물품</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank">전자기기</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1"> 1 </span>
              <i class="fa fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link border border-light rounded waves-effect"
              target="_blank">
              <i class="fa fa-github mr-2" style="margin-left:5px;"></i>Login
            </a>
          </li>
        </ul>

      </div>

    </div>
  </nav>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="/shopPage">
        <strong class="blue-text">B.C. 2.0.1.8</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/shopPage/cloth" >의류</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/shopPage/sports" >스포츠 물품</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/shopPage/electronics" >전자기기</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
         
          {{#if authorized}}
          <li class="nav-item">
              <a class="nav-link waves-effect"href="/myPage">
                <i class="fa fa-shopping-cart"></i>
                <span class="clearfix d-none d-sm-inline-block">MyPage</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-effect" href="/chat/chatList" onClick="window.open(this.href, 'new', 'width=650, height=600'); return false;">
                <i class="fa fa-shopping-cart"></i>
                <span class="clearfix d-none d-sm-inline-block">채팅</span>
              </a>
          </li>
          {{/if}}
            <li class="nav-item">
              {{#if authorized}}
                <a href="/logout" class="nav-link border border-light rounded waves-effect">
                  <i class="fas fa-sign-in-alt"></i>Logout
                </a>
              {{else}}
                <a href="/login" class="nav-link border border-light rounded waves-effect">
                  <i class="fas fa-sign-in-alt"></i>Login
                </a>

              {{/if}}
            </li>
        </ul>

      </div>

    </div>
  </nav>