 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
 <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="/shopPage">
        <strong class="blue-text">Safe Market</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/shopPage/cloth" >의류</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/shopPage/sports" >스포츠 물품</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/shopPage/electronics" >전자기기</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
         
          {{#if authorized}}
          <li class="nav-item">
              <a class="nav-link waves-effect waves-light" id=""  data-toggle="modal" data-target="#fullHeightModalRight">
                <i class="fa fa-shopping-cart"></i>
                <span class="clearfix d-none d-sm-inline-block">MyPage</span>
              </a>

              {{!-- <button type="button" cla ss="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#fullHeightModalRight">Right</button> --}}
              <!-- Full Height Modal Right -->
              <div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true" data-backdrop="false">
                <div class="modal-dialog modal-full-height modal-right" role="document">
                  <!--Content-->
                  <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                      <h4 class="modal-title w-100" id="myModalLabel">MY PAGE</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                      <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action waves-effect">내 정보 수정</a>
                        <a href="/myPage/item/regist" class="list-group-item list-group-item-action waves-effect">상품 등록</a>
                        <a href="/myPage/showMySellProduct" class="list-group-item list-group-item-action waves-effect">내 판매 목록</a>
                        <a href="/myPage/showMyBuyProduct" class="list-group-item list-group-item-action waves-effect">내 구매 목록</a>
                        <a href="/myPage/addCoin" class="list-group-item list-group-item-action waves-effect">코인 충전</a>
                    </div>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                      <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  <!--/.Content-->
                </div>
             </div>
                <!-- Full Height Modal Right -->
              </li>
          <li class="nav-item">
              <a class="nav-link waves-effect" href="/chat/chatList" onClick="window.open(this.href, 'new', 'width=650, height=600'); return false;">
                <i class="fa fa-shopping-cart"></i>
                <span class="clearfix d-none d-sm-inline-block">채팅</span>
              </a>
          </li>
          {{/if}}
            <li class="nav-item">
              {{#if authorized}}
                <a href="/logout" class="nav-link border border-light rounded waves-effect">
                  <i class="fas fa-sign-in-alt"></i>Logout
                </a>
              {{else}}
                <a href="/login" class="nav-link border border-light rounded waves-effect">
                  <i class="fas fa-sign-in-alt"></i>Login
                </a>

              {{/if}}
            </li>
        </ul>

      </div>

    </div>
  </nav>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="/shopPage">
        <strong class="blue-text">Safe Market</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/shopPage/cloth" >의류</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/shopPage/sports" >스포츠 물품</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/shopPage/electronics" >전자기기</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
         
          {{#if authorized}}
          <li class="nav-item">
              <a class="nav-link waves-effect waves-light" id=""  data-toggle="modal" data-target="#fullHeightModalRight">
                <i class="fa fa-shopping-cart"></i>
                <span class="clearfix d-none d-sm-inline-block">MyPage</span>
              </a>

              {{!-- <button type="button" cla ss="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#fullHeightModalRight">Right</button> --}}
              <!-- Full Height Modal Right -->
              <div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true" data-backdrop="false">
                <div class="modal-dialog modal-full-height modal-right" role="document">
                  <!--Content-->
                  <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                      <h4 class="modal-title w-100" id="myModalLabel">MY PAGE</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                      <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action waves-effect">내 정보 수정</a>
                        <a href="/myPage/item/regist" class="list-group-item list-group-item-action waves-effect">상품 등록</a>
                        <a href="/myPage/showMySellProduct" class="list-group-item list-group-item-action waves-effect">내 판매 목록</a>
                        <a href="/myPage/showMyBuyProduct" class="list-group-item list-group-item-action waves-effect">내 구매 목록</a>
                        <a href="/myPage/addCoin" class="list-group-item list-group-item-action waves-effect">코인 충전</a>
                    </div>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                      <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  <!--/.Content-->
                </div>
             </div>
                <!-- Full Height Modal Right -->
              </li>
          <li class="nav-item">
              <a class="nav-link waves-effect" href="/chat/chatList" onClick="window.open(this.href, 'new', 'width=650, height=600'); return false;">
                <i class="fa fa-shopping-cart"></i>
                <span class="clearfix d-none d-sm-inline-block">채팅</span>
              </a>
          </li>
          {{/if}}
            <li class="nav-item">
              {{#if authorized}}
                <a href="/logout" class="nav-link border border-light rounded waves-effect">
                  <i class="fas fa-sign-in-alt"></i>Logout
                </a>
              {{else}}
                <a href="/login" class="nav-link border border-light rounded waves-effect">
                  <i class="fas fa-sign-in-alt"></i>Login
                </a>

              {{/if}}
            </li>
        </ul>

      </div>

    </div>
  </nav>